import IRepository from './IRepository';
import [:repository_name] from '../entities/[:repository_name]';

export default interface I[:repository_name]Repository extends IRepository<[:repository_name]> {}
