<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Đặt lại mật khẩu</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<form method="post" onsubmit="onsubmitResetPassword()">
				<h1 class="text-center">Đặt lại mật khẩu</h1>
				<div class="form-group">
					<label for="password" id>Mật khẩu mới</label>
					<input type="text" name="password" id="password" class="form-control" placeholder="" aria-describedby="helpId" />
				</div>
				<button type="submit" class="btn btn-primary">Xác nhận</button>
			</form>
			<span class="hiden" id="url-redirect"><%=process.env.URL_WEB%></span>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>

		<script>
			const urlParams = new URLSearchParams(window.location.search);
			const token = urlParams.get('token');
			console.log(token);
			if (!token) {
				alert('token missing');
			}
			function onsubmitResetPassword(e) {
				e.preventdefault;

				const password = document.getElementById('password');

				var urlencoded = new URLSearchParams();
				urlencoded.append('password', password);
				urlencoded.append('token', token);

				var requestOptions = {
					method: 'POST',
					body: urlencoded,
					redirect: 'follow',
				};

				fetch('/user/reset-password', requestOptions)
					.then(response => response.text())
					.then(result => (window.location.href = document.getElementById('url-redirect').innerText))
					.catch(error => alert(error));
			}
		</script>
	</body>
</html>
